header{
    background-color:dodgerblue;
    text-align: center;
    padding: 20px;
    
}

nav{
    background-color:hotpink;
}
section{
    grid-column: 1/2;
    background-color: seashell;
}
aside{
    grid-column: 2/3;
    background-color:mediumpurple;
}
article{ 
    background-color:deepskyblue;
}

footer{
   background-color:black;
   color: white;
   padding: 10px;
   text-align: center;
}
.contenedor{
    display: grid;
    grid-template-columns: 70% 30%;
}